body {
  padding-top: 50px;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.tree {
  margin-top: 1.5em;
}

.item-row:hover {
  background: #fcf8e3;
}

.hover-tool {
  visibility: hidden;
}

.item-row:hover .hover-tool {
  visibility: visible;
  cursor: pointer;
}
