<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Treeee</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/default.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>

    <!-- Angular -->
    <script src="js/angular.min.js"></script>
    <script src="js/ui-utils.js"></script>
    <script src="js/event.js"></script>
    <script src="js/keypress.js"></script>
    <script src="js/sortable.js"></script>

    <!-- Treeee specific -->
    <script src="js/treeelement.js"></script>
    <script src="js/treeee.js"></script>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <!-- Navigation Bar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Treeee</a>
        </div>
      </div>
    </div>

    <!-- Main Content -->
    <div class="container" ng-controller="TreeCtrl">

      <!-- items -->
      <ul class="list-group tree" ui-sortable ng-model="items">
        <li class="list-group-item node row item-row"
            ng-repeat="item in items.children">

            <!-- level buttons -->
            <div class="col-xs-1 btn-group">
              <button type="button" class="btn btn-default btn-xs hover-tool">
                <span class="glyphicon glyphicon-chevron-left"
                      ng-click="dedent(item)"></span>
              </button>
              <button type="button" class="btn btn-default btn-xs hover-tool">
                <span class="glyphicon glyphicon-chevron-right"
                      ng-click="indent(item)"></span>
              </button>
            </div>

            <!-- item content -->
            <div class="col-xs-10">
              <span ng-dblclick="startEditing(item)"
                    ng-hide="item.isBeingEdited">
                {{item.value.content}}
              </span>
              <form role="form" ng-show="item.isBeingEdited">
                <input type="text" class="form-control"
                       ng-model="item.content"
                       ui-keypress="{enter:'finishEditing(item)'}">
              </form>
            </div>

            <!-- trash button -->
            <div class="col-xs-1">
              <span class="glyphicon glyphicon-trash hover-tool"
                    ng-click="removeItem(item)"></span>
            </div>
        </li>
      </ul>

      <!-- new item -->
      <ul class="list-group">
        <li class="list-group-item row">
          <div class="col-xs-1"></div>
          <div class="col-xs-{{10-items[items.length-1].level}} col-xs-offset-{{items[items.length-1].level||0}}">
            <input type="text" class="form-control" autofocus
                   ng-model="newContent" placeholder="Add new item"
                   ui-keypress="{enter:'addItem()'}" />
          </div>
        </li>
      </ul>
    </div>

  </body>
</html>
